@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-light';
  src: url(../fonts/Poppins-Light.ttf);
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url(../fonts/Poppins-Thin.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(../fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(../fonts//Poppins-Bold.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
